@font-face {
    font-family: 'Share-Tech';
    src: url('../../fonts/ShareTech-Regular.ttf');
}

.body-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    background-color: #111111;
    background-clip: padding-box;
    border-bottom: 8px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: height 2s ease;
}

.header-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
}

.nav-container {
    display: flex;
    gap: 15px;
    margin-right: 100px;
}

a {
    margin-top: 25px;
    font-family: 'Share-Tech';
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.logo{
    margin: 10px 0px;
    margin-right: 50px;
}

a:hover{
    margin-top: 15px;
    color: rgb(129, 0, 0);
}


img {
    margin-left: 75px;
    width: 300px;
    height: 75px;
}

.button-header {
    display: none;
}



@media screen and (max-width: 1000px) {
    .nav-container{
        display: none;
    }

    .button-header {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        color: rgb(143, 2, 2);
        font-size: 20px;
    }
    .header-container-minimized{
        display: flex;
        flex-direction: column;
    }
    .nav-container-minimized{
        display: flex;
        flex-direction: column;
        margin-left: 75px;
    }
    .body-header-minimized{
        height: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: #111111;
        background-clip: padding-box;
        border-bottom: 8px solid rgba(255, 255, 255, 0.25);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        transition: height 2s ease;
    }
    img{
        margin-left: 0px;
    }
    .nav-item{
        font-size: 18px;
        margin-top: 10px;
        border-left: 2px solid rgb(161, 0, 0);
        padding-left: 10px;
    }
}