.register-form{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: auto;
    background-color: var(--primary);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
}

input{
    width: 70%;
    height: 35px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.15);
    color: var(--tertiary);
    font-size: 16px;
    padding-left: 10px;
    border-radius: 10px;
}
label{
    width: auto;
    align-self: center;
}
input:focus{
    background-color: rgba(255, 255, 255, 0.5) ;
}

section{
    margin-top: 30px;
}
.name{
    display: flex;
    gap: 5px;
    width: 100%;
    margin-top: 30px;
}

.email{
    display: flex;
    gap: 5px;
    width: 100%;
    margin-top: 30px;

}

.password{
    display: flex;
    gap: 5px;
    width: 53%;
    margin-top: 30px;

}

.dateOfBirth{
    gap: 5px;
    margin-top: 8px;


}

